.maindiv {  
    padding:20px;
    background-color:#fffffb;
    height: fit-content;
    width: fit-content;
    align-items: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.indiv {
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    padding-right: 50px;
    color: #4b3929;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}

img {

    max-width: 100%

}

.mainmaindiv {
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
    border: solid black 2px;

}

.maintitle {
    text-align: center;
    color: #5e1a1f;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60pt;
    font-weight: bold;
    text-decoration: underline dotted #e1d6be;
}

.centerbutton {
    display: flex;
    justify-content: center;
    align-content: center;
}

body{
    background: linear-gradient(90deg, transparent 50%, #72484b 50%),linear-gradient(to bottom, transparent 50%, #b2a08d 50%);
        background-size: 5em 5em;
        background-color: #ffffff;
    background-position:  40px 0, 40px 0, 0 0, 0 0;
    background-size: 80px 80px;
    background-repeat: repeat;
    background-blend-mode:darken;
}

/* ----------MAP CSS------------ */

.maptext {
    padding-top: 8px;
    padding-left: 15px;
    padding-bottom: 8px;
    padding-right: 15px;
    color:#000000;
    background-color: #ffffff;
    height: fit-content;
    width: fit-content;
    font-weight: 700;
    margin: 10px;
    border: solid black 2px;
}

/* ----------QUESTIONS CSS------------ */

.question {
    font-size: 40px;
    color:#5e1a1f;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.questiondiv {
    background-color: #fff7e4;
    padding: 20%;
}


.answers {
    color:#483b3c;
    background-color: #ddd2c5;
    padding: 10px;
}



/* ----------Answers Page CSS------------ */

.answersbottom {
    padding: 20px;
    margin-right: 30%;
    margin-left: 30%;
}

.buttonspace {
    margin-right: 20%;
    margin-left: 10%;
}

/* ----------Pre-Quiz Page CSS------------ */

.prequiz {
    margin: 5px;
}

.prequizquestion {
    color:#80564a;
    font-size: medium;
    padding-left: 90px;
    padding-right: 90px;
    margin-top: 20px;
    font-weight: 500;
  }