
.map-container {
    width: 100%;
    height: 100vh;
}

.text {
    width: 10px;
    height: 10px;
    background-color: blueviolet;
}

.obvious {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
}

