:root {
  --background: #1e90ff;
  --white: #ffffff;
}

/* * {
  background-color: var(--background);
} */

.quizContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
}

.quiz {
  border: solid black 2px;
  max-width: 800px;
  padding: 20px;
  background-color: blanchedalmond;
  margin-top: 2%;
  margin-bottom: 2%;
}

.space {
  margin-top:10px;
}

.filler {
  width: 80vw;
  max-width: 800px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 15px;
  text-align: center;
  background-color: blanchedalmond;

}