:root {
  --background: #1e90ff;
  --white: #ffffff;
}

/* * {
  background-color: var(--background);
} */

.quizContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz {
  border: solid black 2px;
  max-width: 500px;
  padding: 20px;
  background-color: blanchedalmond;
  margin-top: 10%;
}

.space {
  margin-top:10px;
}
